<!DOCTYPE html>
<html>
    <head>       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="defaultNavbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" id="navbar">
                <li class="nav-item">
                    <a href="{{ path ('etudiant') }}" class="nav-link text-white">Gestion Etudiant</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('chambre') }}" class="nav-link text-white">Gestion Chambre</a>
                </li>
            </ul>
        </div>
    </nav>
        {% block body %}

        
        {% endblock %}

        
    <!-- Footer -->
<footer class="page-footer font-small bg-primary pt-4 text-white ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Menu</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white">Gestion Etudiant</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Gestion Chambre</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Autres</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white">Creer Etudiant</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Creer Chambre</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:terangaweb@gmail.com" class="text-white">terangaweb@gmail.com</a>
                    </li>
                    <li>
                        <a href="tel:777777777" class="text-white">777777777</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#" class="text-white"> Teranga Web Development</a>
    </div>
    <!-- Copyright -->

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        {% block javascripts %}

            <script> 
            $(document).ready(function(){
                $("#chambre_numBatiment").blur(function(){
                    if ( $("#chambre_numBatiment").val() <= 9){
                        var chambre = "00" + $("#chambre_numBatiment").val() + Math.floor(Math.random() * (9999-1000+1) +1000);
                    }
                    else{
                        var chambre = "0" + $("#chambre_numBatiment").val() + Math.floor(Math.random() * (9999-1000+1) +1000);
                    }
                    $("#chambre_numChambre").val(chambre);
                });   
            });
    </script>
            
        {% endblock %} 
    </body>
</html>
